.wrapper {
  display: flex;
  gap: 15px;
}

.button {
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 172, 220);
  padding: 10px 30px;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}
